@media screen and (max-width: 2000px) {
    .loginBtn{
        width: 100%;
    }
}
.loginimg{
    width: 80px;
    border-radius:50%;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}
.ant-layout{
    height: 100%;
}

.ant-layout-sider-children .logo{
    height: 60px;
    background-image: url("./component/login/logo.jpg");
    background-size: 50px 50px;
    background-repeat:no-repeat;
    background-position:15px;
}
.trigger{
    padding-left: 16px;
    font-size: 20px;
    line-height: 64px;
}
.marginBottom{
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .updatepwdbtn{
        width: 100%;
    }
}
th,td{
    white-space:nowrap;
}
.ql-picker-label::before{
    position: absolute;
}
/*.ant-layout-header{*/
    /*position: fixed;*/
    /*top: 0;*/
    /*width: calc(100% - 95px);*/
    /*z-index: 1000000;*/
    /*margin-bottom: 80px;*/
/*}*/

.ant-layout-content{
    min-height: inherit;
}
.logo1 {
    margin: 10px;
}
.logo {
    margin: 0 auto;
    display: inherit;
    border-radius: 50%;
}
.ant-popover {
    z-index: 1000000000;
}
.ant-layout-header{
    background: linear-gradient(to right,#001529 0,#00152990 100%) !important;
    color: #fff !important;
}